.menu {
    position: absolute;
    top: 1.1em;
    left: 0.8em;
    width: 3em;
}

.kea {
    position: absolute;
    top: 0.8em;
    left: 50%;
    width: 8em;
    margin-left: -4em;
}

.notifikationer {
    position: absolute;
    top: 1.5em;
    right: 5em;
    width: 1em;
}

.profil {
    position: absolute;
    top: 0.5em;
    right: 0.6em;
    width: 3em;
}

.container1 {
    background-color: #EA847C;
    width: 100%;
    height: 4em;
}

/**************Header*******************/


body {
    margin: 0;
}

p {
    font-family: arial;
    text-align: center;
    height: 50px;
    width:
}


.bar {
    border: 1px solid #4C374B;
    height: 30px;
}

.bar1 {
    background-color: #4C374B;
    height: 30px;
    width: 75%;
}

.procent {
    position: absolute;
    top: 32.5vw;
    left: 85vw;
}

.text {
    position: absolute;
    top: 25vw;
    left: vw;
}
