.menu {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    width: 3rem;
}

.kea {
    position: absolute;
    top: 0.5rem;
    left: 7rem;
    width: 8rem;
}

.notifikationer {
    position: absolute;
    top: 1.5rem;
    left: 18rem;
    width: 1rem;
}

.profil {
    position: absolute;
    top: 0.rem;
    left: 20rem;
    width: 3rem;
}

.container1 {
    background-color: #EA847C;
    width: 100%;
    height: 50px;
}

/**************Header*******************/

p {
    font-family: arial;
    text-align: center;
}


.bar {
    border: 1px solid #4C374B;
    height: 30px;
}

.bar1 {
    background-color: #4C374B;
    height: 30px;
    width: 75%;
    display: inline-block;
}

.procent {
    display: inline-block;
    height: 30px;
    width: 23%;
}

.text {}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #4C374B;
    text-align: left;
    padding: 8px;
    background-color: #D6CDD5;
}

.link {
    text-decoration: underline;
}

.procenttegn {
    padding: 0px;
}
