body {
    margin: 0;
}

.bokskontakt {
    font-family: arial;

    width: 70vw;
    height: 15vw;
    border: 1px solid black;
    margin-bottom: 13px;
    text-align: left;
    line-height: 15vw;
    background-color: #D6CDD5;
    justify-content: space-between;
    display: flex;
    align-items: center;

    margin-left: 15vw;
}

.boksud {
    font-family: arial;
    border: 1px solid black;
    text-align: left;
    line-height: 15vw;
    background-color: #D6CDD5;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: 15vw;
    margin-bottom: 15vw;

}



.billede {
    width: 30px;
    height: 30px;
}

h1 {
    font-size: 1.5em;
    font-family: arial;
    /*
    display: flex;
    flex-direction: column;
*/
    justify-content: center;
    text-align: center;


}


.Pil {
    width: 100%;
}


.menu {
    position: absolute;
    top: 1.1em;
    left: 0.8em;
    width: 3em;
}

.kea {
    position: absolute;
    top: 0.8em;
    left: 50%;
    width: 8em;
    margin-left: -4em;
}

.notifikationer {
    position: absolute;
    top: 1.5em;
    right: 5em;
    width: 1em;
}

.profil {
    position: absolute;
    top: 0.5em;
    right: 0.6em;
    width: 3em;
}

.container1 {
    background-color: #EA847C;
    width: 100%;
    height: 4em;

}
