  /*************Header****************/
  body {
      margin: 0;

  }

  .menu {
      position: absolute;
      top: 1.1em;
      left: 0.8em;
      width: 3em;
  }

  .kea {
      position: absolute;
      top: 0.8em;
      left: 50%;
      width: 8em;
      margin-left: -4em;
  }

  .notifikationer {
      position: absolute;
      top: 1.5em;
      right: 5em;
      width: 1em;
  }

  .profil {
      position: absolute;
      top: 0.5em;
      right: 0.6em;
      width: 3em;
  }

  .container1 {
      background-color: #EA847C;
      width: 100%;
      height: 4em;
  }

  /*************Header****************/

  /*************bokse og skema****************/


  .container {
      position: relative;
  }

  .vl {
      border-left: 2px solid black;
      height: 2rem;
      position: absolute;
      left: 13.8vw;
  }

  .vl1 {
      border-left: 2px solid black;
      height: 2rem;
      position: absolute;
      left: 61.6vw;
  }

  .semester {

      text-align: center;
  }

  .forlob {

      text-align: center;
      align-content: space-between;
      font-size: 12px;
  }

  .int {
      position: absolute;
      left: 4vw;
      top: 0;
  }

  .grund {
      position: absolute;
      left: 14.5vw;
      top: 0;
  }

  .ind {
      position: absolute;
      left: 62.5vw;
      top: 0;
      float: top;
  }

  table {

      border-spacing: 1rem
  }


  .oversigt {

      justify-content: center;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 0rem;
      margin-top: 0rem;
  }


  td {

      border-spacing: 1rem;
      border: 1px solid #4c374b;
      text-align: left;
      height: 2rem;
      padding: 1rem;
      background-color: #EA847C;


  }

  .semester_bokse {

      display: flex;
      justify-content: center;
      background-color: #EA847C;
  }


  .box {
      width: 2.5rem;
      height: 2.5rem;
      border: 0.5px solid green;
      padding: 0.5rem;
      text-align: center;

  }

  /*************bokse og skema****************/
