/*---------------------------------------------------
1: Variables & Common styling
2: Layout / Grid
3: Form styling
4: Table styles
5: Page specific styles
---------------------------------------------------*/

/*---------------------------------------------------
1: Variables & Common styling
---------------------------------------------------*/
/*Variables*/
:root {
    --color-dark: #3F3140;
    --color-light: #FEFEFE;
    --color-accent: #f90;
}

/*Common styling classes*/
* {
    box-sizing: border-box;
    background-color: var(--color-dark);
}

screen {
    100%;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

h1 {
    color: var(--color-light);
}

p {
    color: var(--color-light);
}

a {
    color: var(--color-light);
}


/*---------------------------------------------------
2: Layout / Grid
---------------------------------------------------*/
/*Grid container*/
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    justify-items: center;
    max-width: 768px;
    margin: 0 5%;
    background-color: var(--color-dark);
}

.container_flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    margin: 0 5%;
    background-color: var(--color-dark);
}


.afleveringerpage .container {
    justify-items: left;
}

/*Grid column items*/
.login_splash {
    max-width: 768px;
    position: relative;
    justify-items: center;
    display: block;
    margin: 0 auto;
}

/*loginpage*/
.loginform {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 6;

}


.huskmig {
    grid-row-start: 5;
    grid-column-start: 3;
    grid-column-end: 6;
    color: var(--color-light);
}

.text {
    text-align: center;
    margin-left: 35%;
    margin-top: 10%;
}

.glemtpassword {
    grid-row-start: 8;
    grid-column-start: 1;
    grid-column-end: 1;
    color: var(--color-light);
}

.sprog {
    grid-row-start: 8;
    grid-column-start: 6;
    grid-column-end: 6;
    color: var(--color-light);
}

/*loginpage grid*/
.formgroup {
    display: grid;
    grid-template-columns: 1fr 200px;
    height: 2rem;
    color: var(--color-light);
    margin-top: 2rem;
}

.formgroup label {
    grid-column-start: 1;
}

.formgroup input {
    grid-column-start: 2;
    border: 1px solid black;
    background-color: var(--color-light);
}

.formgroup_uni {
    margin-top: 10%
}

.formgroup,
.glemtpassword {
    margin-bottom: 1rem;
}

.formgroup_flex {
    display: flex;
    flex-wrap: wrap;
    height: 2rem;
    color: var(--color-light);
    background-color: var(--color-dark);
    margin-top: 1em;
}

.formgroup_flex input {
    border: 1px solid black;
    background-color: var(--color-light);
}

.forminput {
    width: 80%;
    margin: 0 10%;
    text-align: center;
}

.formsubmit {
    width: 80%;
    margin: 0 10%;
    padding: 0 !important;
}

.text_flex {
    flex-wrap: wrap;
    display: flex;
}

#password_reset {
    display: block;
    width: 100%;
}

/*---------------------------------------------------
3: Form styling
---------------------------------------------------*/
/*Inputs*/
label,
input[type=text],
input[type=email],
input[type=password],
input[type=submit] {
    padding: 1em;
}

input[type=submit] {
    background-color: #F79D94;
    color: white;
    transition: background-color 1s, color 1s;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border: 3px solid #ff9900;
    outline: -webkit-focus-ring-color auto 0;
}
